.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-closed_caption {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}
.icon-cloud_download {
  width: 24px;
  height: 24px;
  background-position: -48px 0;
}
.icon-eject {
  width: 24px;
  height: 24px;
  background-position: -96px 0;
}
.icon-fullscreen {
  width: 24px;
  height: 24px;
  background-position: -144px 0;
}
.icon-fullscreen_exit {
  width: 24px;
  height: 24px;
  background-position: -192px 0;
}
.icon-help {
  width: 24px;
  height: 24px;
  background-position: -240px 0;
}
.icon-info {
  width: 24px;
  height: 24px;
  background-position: -288px 0;
}
.icon-pause {
  width: 24px;
  height: 24px;
  background-position: -336px 0;
}
.icon-play_arrow {
  width: 24px;
  height: 24px;
  background-position: -384px 0;
}
.icon-settings {
  width: 24px;
  height: 24px;
  background-position: -432px 0;
}
.icon-stop {
  width: 24px;
  height: 24px;
  background-position: -480px 0;
}
.icon-volume_mute {
  width: 24px;
  height: 24px;
  background-position: -528px 0;
}
.icon-volume_up {
  width: 24px;
  height: 24px;
  background-position: -576px 0;
}

